.main-body {
	padding-right  : 15%;
	padding-left   : 2%;
	padding-top    : 2%;
	padding-bottom : 8%;
}

.added {
	border-style  : solid; 
	border-width  : 1px;
	border-color  : #BDA0CB;
	border-radius : 4px;
	padding       : 10px;
	margin-top    : 10px;
	margin-bottom : 10px;
}

.pad {
	padding-top   : 10px;
}